.el-sub-menu .el-sub-menu__title:hover {
  color: var(--el-menu-hover-text-color) !important;
  background-color: transparent !important;
}

.el-menu--collapse {
  .is-active {
    .el-sub-menu__title {
      color: #fff !important;
      background-color: var(--el-color-primary) !important;
    }
  }

  // 图标样式
  .el-menu-item [class^='el-icon'],
  .el-menu-item-group > ul > .el-sub-menu > .el-sub-menu__title [class^='el-icon'],
  .el-sub-menu > .el-sub-menu__title [class^='el-icon'] {
    margin: -8px !important;
  }
}

.el-menu-item {
  height: 46px;
  margin-bottom: 4px;
  line-height: 46px;
  border-radius: 6px;

  &:hover {
    color: var(--el-menu-hover-text-color);
    background-color: rgba(var(--art-gray-200-rgb), 0.8) !important;
  }

  &.is-active {
    color: var(--el-menu-active-color) !important;
    background-color: var(--el-color-primary-light-9);

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      content: '';
      background-color: var(--el-color-primary);
    }
  }
}

.vertical,
.classic,
.transverse {
  .el-menu-item {
    &.is-active {
      &::before {
        left: 0;
      }
    }
  }
}

.columns {
  .el-menu-item {
    &.is-active {
      &::before {
        right: 0;
      }
    }
  }
}

.dark {
  .el-menu-item {
    &.is-active {
      background-color: transparent;
    }
  }
}
