// 布局变量
$border-radius-large: 20px;
$box-shadow-standard: 0 12px 40px rgb(0 0 0 / 6%);
$dark-box-shadow: 0 12px 40px rgb(0 0 0 / 20%);

// 引入动画变量
@use './animations.scss' as *;

// 登录页面容器
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #eeeeee;
  background-image: url('@/assets/images/login_bg.svg');
  background-size: cover;
  animation: gradient-bg 15s ease infinite;
}

// 登录框
.login-box {
  display: flex;
  width: 100%;
  max-width: 900px;
  height: 600px;
  margin: 0 20px;
  overflow: hidden;
  background-color: var(--el-bg-color);
  border-radius: $border-radius-large;
  box-shadow: $box-shadow-standard;
}

// 左侧动画区域
.login-left {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgb(79 107 243 / 80%),
    rgb(98 114 255 / 80%) 30%,
    rgb(109 120 255 / 80%) 70%,
    rgb(79 107 243 / 80%)
  );
  transition: $transition-standard;

  // 注册状态
  &.is-register {
    background: linear-gradient(
      135deg,
      rgb(24 190 157 / 80%),
      rgb(67 206 162 / 80%) 30%,
      rgb(92 216 165 / 80%) 70%,
      rgb(24 190 157 / 80%)
    );
  }

  // 左侧内容
  .left-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

// 登录内容区域
.login-content {
  position: relative;
  width: 460px;
  padding: 40px;
  background: var(--el-bg-color);
  perspective: 1000px;

  > * {
    animation: fade-in $fade-duration ease-out;
  }

  .welcome-title,
  .welcome-desc {
    position: relative;
    display: flex;
    align-items: center;
  }

  .welcome-title {
    height: 40px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
    color: var(--el-text-color-primary);
  }

  .welcome-desc {
    height: 60px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    color: var(--el-text-color-secondary);
  }

  // 表单容器
  .form-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 330px;

    .form-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // 切换表单区域
  .switch-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
    font-size: 14px;
    color: var(--el-text-color-regular);

    .el-link {
      margin-left: 4px;
      font-weight: 500;
    }
  }
}
